.btn-container{
    display: flex;
    
}

.btn-container button{
    height: 100%;
    width: 300px;
    border-radius: 10px,0,0,10px;
    
}


.btn h6{
    color:#ffff;
    font-size: 18px;
    text-transform: uppercase;
}

.btn-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100px;
    border-radius:  0px 10px 10px 0px;
    background-color:  #33569B;
}